<div class="container">
   
    <div id="dayAsteroids" #dayAsteroids>
        <div>
            <h1>Asteroids of the day</h1>
            <!-- <span class="text">Select one day to update the chart</span> -->
            <!-- <div class="btn-container"> 
                 <button>Mo</button>
                 <button>Tu</button>
                 <button>We</button>
                 <button>Th</button>
                 <button>Fr</button>
                 <button>Sa</button>
                 <button>Su</button>
            </div> -->
          
        </div>
       
        <div id="chartAndDataContainer">
            <div id="chartContainer">
                <app-scatter *ngIf="data" #ordersByStatusChart [data]="data"></app-scatter>
            </div>
        </div>
    </div>
    <div id="weekMagnitudo" #weekMagnitudo>
        <h1>Magnitudo of the week</h1>
        <div id="chartAndDataContainer_">
            <div id="chartContainer_">
                magnitudo
            </div>
        </div>
    </div>

</div>