<div class="container">
    <div id="dayAsteroids" #dayAsteroids>
       <div>
          <h1>Asteroids of the day</h1>
       </div>
       <div id="chartAndDataContainer">
          <div id="chartContainer">
             <app-scatter *ngIf="data"  [_data]="data"></app-scatter>
             <!-- <app-test></app-test> -->
          </div>
       </div>
    </div>
    <div id="weekMagnitudo" #weekMagnitudo>
       <div>
          <h1>Brightest of the week</h1>
       </div>
       <div id="chartAndDataContainer_1">
          <div id="chartContainer_1">
              <app-top5 *ngIf="data" [_data]="data"></app-top5>
            
          </div>
       </div>
    </div>
 </div>